<h1>POST</h1>

<form action="/cool_url" method="POST">
  A Greeting: <input type="text" name="greeting">
  <br/>
  Your Name: <input type="text" name="name">
  <br/>
  <input type="submit">
</form>

<hr>

<h1>GET</h1>

<form action="/cool_url" method="GET">
  A Greeting: <input type="text" name="greeting">
  <br/>
  Your Name: <input type="text" name="name">
  <br/>
  <input type="submit">
</form>